    <div id="content">
    <div class="blacker">
        <div class="lpage-container">
            <img [src]="allianceImg" alt="Alliance Logo" id="allianceLogo">
            
            <h3>Welcome to</h3>
            <h2>Alliance Software Inc.</h2>
            <h1>Service Charge App</h1>
            <div class="flexer">
            <div class="square"></div>
            <p>Providing Service Charges for Clients with Ease</p>
            </div>
            <hr>
            <br><br><br>

            <button mat-flat-button id="button" routerLink="/login">
                Log in
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>