<footer>
    <div class="line-divider"></div>
    <div class="container p-tb-70">

        <div class="upper-container">
            <div class="upper-content-colspan"></div>
            <div class="upper-content-main">
            <div class="upper-content">
                <p class="">ABOUT</p>
                <ul>
                <li>
                <a href="https://www.alliance.com.ph/about">Company Profile</a>
                </li>
                <li>
                <a href="https://www.alliance.com.ph/vision-and-mission">Vision and Mission</a>
                </li>
                <li>
                <a href="https://www.alliance.com.ph/alliance-advantage">Alliance Advantage</a>
                </li>
                <li>
                <a href="https://www.alliance.com.ph/presidents-message">President's Message</a>
                </li>
                <li>
                <a href="https://www.alliance.com.ph/executive-leadership">Executive Leadership</a>
                </li>
                </ul>
            </div>
          
            <div class="upper-content">
                <p class="">SERVICES AND SOLUTIONS</p>
                <ul>
                    <li>
                        <a href="https://www.alliance.com.ph/it-services">IT Services / Software Factory</a>
                    </li>
                    <li>
                        <a href="https://asi-ees.com/solutions">IT Solutions</a>
                    </li>
                </ul>
                <p class="">CAREERS</p>
                <ul>
                    <li>
                        <a href="https://www.alliance.com.ph/careers">Career Opportunities</a>
                    </li>
                    <li>
                        <a href="https://www.alliance.com.ph/working-with-us">Working with Us</a>
                    </li>
                </ul>
            </div>
            <div class="upper-content">
                <p class="">TRAINING</p>
                <ul>
                    <li>
                        <a href="https://www.alliance.com.ph/trainings">Trainings</a>
                    </li>
                    <li>
                        <a href="https://www.alliance.com.ph/a-team-academy">A-Team</a>
                    </li>
                </ul>
            </div>

            <div class="upper-content">
                <p class="">14th Floor, Buildcomm Center,<br> Sumilon Road, Cebu Business Park<br>
                    Cebu
                    City, Cebu, Philippines 6000</p>
                <a href="https://www.certipedia.com/quality_marks/9108636079?locale=en"><img src="assets/images/ISO/iso-9001-2015-sm.jpg" alt="iso 9001 2015 logo" ></a>
                <a href="https://www.certipedia.com/quality_marks/9108644206?locale=en"><img src="assets/images/ISO/iso-27001-2013-sm.jpg" alt="iso 27001 2013 logo" ></a>
            </div>
        </div>
            <div class="upper-content-colspan"></div>
        </div>

        <hr id="line-divider">
        <br>

        <div class="lower-container">
            <div class="lower-content-colspan"></div>
            <div class="lower-content-main">
            <div class="lower-content-image">
            <img [src]="allianceImg" alt="alliance logo" id="allianceImg-footer">
            </div>
            <div class="lower-content-social">
             
                <div class="lower-content-social-icons">
                    <a class="social-media-logo fb" href="https://www.facebook.com/AllianceSoftwareInc/">
                        <div class="icon-container">
                        <img [src]="facebookIcon" alt="Facebook Icon" class="footer-social">
                        </div>
                    </a>
                    <a class="social-media-logo in" href="https://www.linkedin.com/in/alliance-software-7a180a49/">
                        <div class="icon-container">
                        <img [src]="linkedinIcon" alt="LinkedIn Icon" class="footer-social">
                        </div>
                    </a>
                    <a class="social-media-logo tw" href="https://twitter.com/AllianceSW">
                        <div class="icon-container">
                        <img [src]="twitterIcon" alt="Twitter Icon" class="footer-social">
                        </div>
                    </a>
                    <a class="social-media-logo ig" href="https://instagram.com/allianceedgeph?utm_medium=copy_link">
                        <div class="icon-container">
                        <img [src]="instagramIcon" alt="Instagram Icon" class="footer-social">
                        </div>
                    </a>
                    <a class="social-media-logo yt" href="https://www.youtube.com/channel/UC5Rx6nPzFFdIsso8RjNLLqA">
                        <div class="icon-container">
                        <img [src]="youtubeIcon" alt="Youtube Icon" class="footer-social">
                        </div>
                    </a>
                </div>
            </div>
            </div>
            <div class="lower-content-colspan"></div>
        </div>
    </div>
</footer>
